{% load static %}
<!DOCTYPE HTML>

<html>

<head>
    <title>Intensify by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static './assets/css/main2.css' %}" />
</head>

<body>
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url=mycalendar" /> {% endif %}
    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/skel.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Header -->
    <header id="header">
        <nav class="left">

        </nav>
        <a href='' class="logo">Smart Study Web Calendar</a>

    </header>

    <!-- Menu -->


    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <h1 style="color: #f6755e">로그인하여 시작하십시오</h1>

            <nav class="right" style="color:#FFFFFF">
                <a href="login" class="button alt" style="background-color: #FFFFFF;">Log in</a>
            </nav>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item left">
                <div>
                    <h3>Everytime</h3>
                    <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 시간표를 연동해 보세요</p>
                </div>
                <div>
                    <h3>Facebook</h3>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 페이지를 구독해 정보를 가져오세요</p>
                </div>
            </div>
            <div class="flex-item image fit round">
                <img src="images/pic011.jpg" alt="" />
            </div>
            <div class="flex-item right">
                <div>
                    <h3>Notepad</h3>
                    <p>필기를 작성해 스케쥴에 추가하세요</p>
                </div>
                <div>
                    <h3>Record</h3>
                    <p>수업을 녹음해 스케쥴에 추가하세요</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->


    <!-- Three -->


    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Team5 SSW Calender</h2>
            <ul class="actions">
                <li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
                <li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
                <li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
        </div>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>


    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyArM8nKVJkjmDU11zsyVXqKhD8DCud6JO4",
            authDomain: "smartstudyweb.firebaseapp.com",
            databaseURL: "https://smartstudyweb.firebaseio.com",
            projectId: "smartstudyweb",
            storageBucket: "smartstudyweb.appspot.com",
            messagingSenderId: "42682850378",
            appId: "1:42682850378:web:339783d8b17c24a1c81ab3",
            measurementId: "G-1JCYM557CR"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        console.log(user)
    </script>

</body>

</html>